<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

    <!-- 引入bootstrap的css -->
    <link  href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="../js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="../js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css" />




    <!-- 引入jquery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>


    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>

<style>
    .middle{
        background: url(../img/untitled.png) ;
    }
</style>

<body  class="middle" >

        <!--导航条开始-->
        <nav class="navbar navbar-default">
            <div class="container-fluid" style="float:left">
                <div class="navbar-header"  >
                    <a class="navbar-brand" style="margin-top:1px" href="#">
                        <img alt="Brand" style="height:23px;width:23px;" src="../img/image.jpg">
                    </a>
                </div>

            </div>
            <div style="margin-top:5px;width:15%;height:100%;float:right">
                <div style="margin-top:5px;float:right;width:180px;height:30px;">
                    <font >欢迎您<font th:text="${user.userIdentity==1?'管家':'超级管理员'}"></font></font> |&nbsp;&nbsp;&nbsp;<a href="" >退出</a>
                </div>

            </div>
        </nav>
        <!--导航条结束-->



        <!--=========栅格布局 ==============-->
        <div class="row" style="margin-top: 150px">
            <div>
<center>
                <p>
                    <input type="hidden" th:value="${user.userId}" id="hid">
                    <p><div><font size="4"> 使用人：</font><font  th:text="${user.userName}"></font></div></p>
                    <p><div><font size="4"> 手机号：</font><font   th:text="${user.userPhone}"></font></div></p>
                    <p><div><font size="4"> 权限信息：</font><font th:text="${user.userIdentity==1?'管家':'超级管理员'}"></font></div></p>
                    <p><input type="button" value="修改密码及其他信息" onclick="updateuser()" size="5"></p>
                </center>

            </div>
        </div>




</body>
<script type="text/javascript">
function updateuser(){
    var xid=$("#hid").val();
    location.href="../apartment/toupdate?xid="+xid;

}


</script>

</html>