<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- 引入bootstrap的css -->
<link  href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
<!-- 引入bootstrap-treeview的css -->
<link  href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
<!-- 引入bootstrap-addTabs的css -->
<link  href="../js/addTabs/addTabs.css" rel="stylesheet" >
<!-- 引入bootstrap-table的css -->
<link  href="../js/table/bootstrap-table.min.css" rel="stylesheet" >
<!-- 引入fileinput的css -->
<link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css" />

<!-- 引入jquery -->
<script type="text/javascript" src="../js/jquery.min.js"></script>
<!-- 引入bootstrap的js-->
<script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
<!-- 引入bootstrap的js-->
<script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
<!-- 引入bootstrap的js-->
<script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
<!-- 引入bootstrap-table的js-->
<script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
<!-- 引入bootbox.js -->
<script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
<!-- 引入fileinput的js -->
<script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
<!--  引入fileinput的js -->
<script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>


<script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>
<body background="../img/2.jpg">
<center>
<div style="margin-top:50px;width: 300px;height: 150px;border:1px solid #000">
    <br/>
    <br/>
    <br/>
    请联系超级管理找回密码！! !
    <br/>
    <br/>
</div>
    <br/>
    <br/>
<input type="button" style="width:200px;" value="我已想起密码,去登陆" onclick="toLogin()" class="btn btn-default"/>
</center>
</body>
<script type="text/javascript">
   function toLogin(){
       location.href="../apartment/toLogin";
   }
</script>
</html>